doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
    link(rel='stylesheet', href='app/css/config.css')
  body

#toto
  p nooooooooooo
